<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Account Confirmation</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <h2>Akun kamu belum aktif</h2>
          <p>Masukan kode aktifasi yang telah kami kirim ke email kamu ({{ user.email }})</p>
          <div class="row">
            <div class="col col-xs-3 col-sm-2 col-md-1">
              <input pin id="pin1" class="form-control input-lg text-center" ng-model="pin[0]" maxlength="1" type="tel">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
              <input pin id="pin2" class="form-control input-lg text-center pin" ng-model="pin[1]" maxlength="1" type="tel">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
              <input pin id="pin3" class="form-control input-lg text-center pin" ng-model="pin[2]" maxlength="1" type="tel">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
              <input pin id="pin4" class="form-control input-lg text-center pin" ng-model="pin[3]" maxlength="1" type="tel">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12">
              <p><a class="btn btn-primary" id="pin-submit" ng-class="{'disabled': isLoading || pinString().length != 4}" ng-click="submitPin()">{{ isLoading ? 'Loading...' : 'Aktifkan »'}}</a></p>
              <p class="help-block">Belum menerima kode? <br/>Coba <a class="btn btn-sm" ng-class="{disabled: counter > 0}" ng-click="sendCode()">kirim ulang kode</a> <span ng-if="counter > 0">Tunggu {{ counter }} detik</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>