<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Selamat Datang</h2>
          <p>Hi {{ user.displayName }}, silahkan ke menu <a class="btn btn-xs btn-default" ui-sref="profile">profile</a> untuk melengkapi data diri kamu.</p>
          <p>Setelah itu silahkan ke menu <a class="btn btn-xs btn-default" ui-sref="program">pendaftaran</a> untuk memilih program yang kamu minati.</p>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="fa fa-link"></i> <a href="http://riska.or.id/" target="_blank">riska.or.id</a></li>
        <li><i class="fa fa-facebook"></i> <a href="https://web.facebook.com/remajaislamsundakelapa" target="_blank">Remaja Islam Sunda Kelapa</a></li>
        <li><i class="fa fa-instagram"></i> <a href="https://www.instagram.com/riskamenteng/" target="_blank">riskamenteng</a></li>
      </ul>
    </div>
  </div>
</div>