<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">404</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Halaman yang kamu cari tidak ada</h3>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="fa fa-link"></i> <a href="http://riska.or.id/" target="_blank">riska.or.id</a></li>
        <li><i class="fa fa-facebook"></i> <a href="https://web.facebook.com/remajaislamsundakelapa" target="_blank">Remaja Islam Sunda Kelapa</a></li>
        <li><i class="fa fa-instagram"></i> <a href="https://www.instagram.com/riskamenteng/" target="_blank">riskamenteng</a></li>
      </ul>
    </div>
  </div>
</div>