<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Profile
      <a ng-click="changePasswordView = !changePasswordView" class="btn btn-xs btn-info" style="float: right">{{!changePasswordView ? "Ubah Password" : "Ubah Profile"}}</a>
    </div>
    <div class="panel-body" ng-if="!changePasswordView">
      <legend><ion-icon name="clipboard"></ion-icon> Ubah Profile Saya</legend>
      <form method="post" ng-submit="updateProfile()">
        <div ng-if="false" class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'https://placehold.it/100x100'}}">
        </div>
        <div class="form-group col-sm-12">
          <label class="control-label"><ion-icon name="person"></ion-icon> Nama Lengkap</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="person"></ion-icon> Nama Panggilan</label>
          <input type="text" class="form-control" ng-model="user.nickName" />
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="transgender"></ion-icon> Jenis Kelamin</label>
          <br/>
          <label class="radio-inline"><input type="radio" ng-model="user.gender" value="m"/> Laki-laki</label>
          <label class="radio-inline"><input type="radio" ng-model="user.gender" value="f"/> Perempuan</label>
        </div>
        <div class="form-group col-sm-12">
          <label class="control-label"><ion-icon name="at"></ion-icon> Alamat Email</label>
          <input type="email" class="form-control" readonly ng-model="user.email" />
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="logo-whatsapp"></ion-icon>Nomor Whatsapp</label>
          <input type="tel" class="form-control" ng-model="user.whatsapp" />
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="call"></ion-icon> Nomor Lain</label>
          <input type="tel" class="form-control" ng-model="user.phone" />
          <p class="help-block">Kosongkan jika sama dengan nomor whatsapp</p>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="pin"></ion-icon> Tempat Lahir</label>
          <input type="text" class="form-control" ng-model="user.birth_place" />
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label class="control-label"><ion-icon name="calendar"></ion-icon> Tanggal Lahir</label>
          <input type="date" class="form-control" ng-model="user.birth_date_object" />
        </div>
        <div class="form-group col-sm-12">
          <label class="control-label"><ion-icon name="home"></ion-icon> Alamat Tinggal</label>
          <textarea class="form-control" ng-model="user.address"></textarea>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <oi-select
              oi-options="item.name for item in getProvinces($query)"
              oi-select-options="{cleanModel: true}"
              ng-model="address.province"
              placeholder="Pilih Provinsi"
          ></oi-select>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <oi-select
              oi-options="item.name for item in getRegencies($query)"
              oi-select-options="{cleanModel: true}"
              ng-disabled="address.province == null"
              ng-model="address.regency"
              placeholder="Pilih Kota"
          ></oi-select>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <oi-select
              oi-options="item.name for item in getDistricts($query)"
              oi-select-options="{cleanModel: true}"
              ng-disabled="address.regency == null"
              ng-model="address.district"
              placeholder="Pilih Kecamatan"
          ></oi-select>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <oi-select
              oi-options="item.name for item in getVillages($query)"
              oi-select-options="{cleanModel: true}"
              ng-disabled="address.district == null"
              ng-model="address.village"
              placeholder="Pilih Kelurahan/Desa"
          ></oi-select>
        </div>
        <div class="form-group col-sm-12">
          <button class="btn btn-lg btn-success">Simpan</button>
        </div>
      </form>

    </div>
    <div class="panel-body" ng-if="changePasswordView">
      <legend><ion-icon name="lock"></ion-icon> Ubah Password</legend>
      <form method="post" ng-submit="updatePassword()" name="changePassForm">
        <div class="form-group has-feedback" ng-class="{ 'has-error' : changePassForm.oldPass.$invalid && changePassForm.oldPass.$dirty }">
          <input password-strength class="form-control input-lg" type="password" name="oldPass" ng-model="oldPass" placeholder="Current Password" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.oldPass.$dirty" ng-messages="signupForm.oldPass.$error">
            <div ng-message="required">Current password is required.</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : changePassForm.password.$invalid && signupForm.password.$dirty }">
          <input password-strength class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
            <div ng-message="required">Password is required.</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
          <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
            <div ng-message="compareTo">Password must match.</div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <button class="btn btn-lg btn-success">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>
