<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Pendaftaran</div>
    <div class="panel-body" ng-hide="isLoaded">
      Loading...
    </div>
    <div class="panel-body" ng-if="isLoaded">
      <table class="table" ng-if="myProgram.programs.length > 0">
        <thead>
        <tr>
          <th>Program yang saya ikuti</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in myProgram.programs">
          <td>{{item.name}}</td>
          <td>
            <span class="label label-info">{{item.pivot.status}}</span>
          </td>
        </tr>
        </tbody>
      </table>

      <legend ng-if="!myProgram.isRegistered">{{myProgram.isNewMember ? "Pendaftaran Peserta Baru" : "Pendaftaran Peserta Lanjutan"}}</legend>
      <form ng-if="!myProgram.isRegistered" method="post" ng-submit="assignProgram(selectedProgram)">
        <div class="form-group col-sm-12">
          <label class="control-label">Program</label>
          <oi-select
              oi-options="item.name for item in batch.programs"
              oi-select-options="{cleanModel: true}"
              ng-model="selectedProgram"
              placeholder="Pilih Program"
          ></oi-select>
        </div>
        <div class="form-group col-sm-12" ng-if="selectedProgram != null">
          <div class="panel panel-default">
            <div class="panel-heading">{{selectedProgram.detail.title}}</div>
            <div class="panel-body">
              {{selectedProgram.detail.description}}
            </div>
            <div class="panel-footer">
              <b>Sisa Kuota</b>
              <span ng-if="selectedProgram.quota_ikhwan == null || selectedProgram.quota_akhwat == null" class="label label-success">{{selectedProgram.quota}} peserta</span>
              <span ng-if="selectedProgram.quota_ikhwan != null" class="label label-success">{{selectedProgram.quota_ikhwan}} ikhwan</span>
              <span ng-if="selectedProgram.quota_akhwat != null" class="label label-info">{{selectedProgram.quota_akhwat}} akhwat</span>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <button class="btn btn-success" ng-class="{'disabled': selectedProgram == null}">Daftar</button>
        </div>
      </form>

      <legend ng-if="myProgram.isRegistered && !myProgram.isUploadedPayment">Konfirmasi Pembayaran</legend>
      <form ng-if="myProgram.isRegistered && !myProgram.isUploadedPayment" method="post" ng-submit="uploadProofPayment(file)">
        <div class="form-group col-sm-12">
          <div class="alert alert-warning">
            Silahkan upload bukti pembayaran kamu sebelum kuota untuk program yang kamu ikuti habis!
          </div>
        </div>
        <div class="form-group col-sm-12">
          <b>Sisa Kuota</b>
          <span ng-if="myProgram.currentProgram.quota_ikhwan == null || myProgram.currentProgram.quota_akhwat == null" class="label label-success">{{myProgram.currentProgram.quota}} peserta</span>
          <span ng-if="myProgram.currentProgram.quota_ikhwan != null" class="label label-success">{{myProgram.currentProgram.quota_ikhwan}} ikhwan</span>
          <span ng-if="myProgram.currentProgram.quota_akhwat != null" class="label label-info">{{myProgram.currentProgram.quota_akhwat}} akhwat</span>
        </div>
        <div class="form-group col-sm-12">
          <img ngf-src="file" style="width: 100%"/>
        </div>
        <div class="form-group col-sm-12">
          <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'">{{file ? 'Ganti Gambar' : 'Pilih Gambar'}}</div>
          <button ng-if="file" class="btn btn-success">Upload</button>
        </div>
      </form>

      <div ng-if="myProgram.isUploadedPayment" class="alert alert-info">
        <strong>Terimakasih telah mendaftar {{ myProgram.currentProgram.name }}</strong><br/>Mohon tunggu tim kami sedang verifikasi data kamu.
      </div>
    </div>
  </div>
</div>
