<!DOCTYPE html>
<html ng-app="PabApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAB RISKA</title>
  <link href="favicon.png" rel="shortcut icon">
  <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
  <link href="vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/animatecss/animate.css" rel="stylesheet">
  <link href="vendor/oi-select/select.min.css" rel="stylesheet">
  <link href="stylesheets/angular-toastr.css" rel="stylesheet">
  <link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>

<div id="loader" class="ng-cloak"></div>

<div ng-controller="NavbarCtrl" class="navbar navbar-default ng-cloak">
  <div class="navbar-header" style="cursor: pointer">
    <a class="navbar-brand">PAB RISKA</a>
  </div>
  <ul ng-if="isAuthenticated() && !isActivation()" class="nav navbar-nav hidden-xs">
    <li><a ui-sref="/">Home</a></li>
    <li><a ui-sref="profile">Profile</a></li>
    <li><a ui-sref="program">Pendaftaran</a></li>
    <li><a ng-if="user.role.role == 'Admin'" ui-sref="batch">Manage Batch</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right hidden-xs">
    <li><a ui-sref="logout">Logout</a></li>
  </ul>
  <ul ng-if="isAuthenticated() && !mobileMenuIsOpen" class="nav navbar-nav pull-right hidden-sm hidden-md hidden-lg">
    <li><a ng-click="toggleMobileMenu()"><i class="fa fa-bars"></i></a></li>
  </ul>
  <pageslide ps-open="mobileMenuIsOpen" ps-side="left" ps-body-class="true">
    <div style="padding:20px">
      <a ng-click="toggleMobileMenu()"><i class="fa fa-3x fa-chevron-circle-left"></i></a>
      <h2>PAB RISKA</h2>
      <div class="list-group" ng-if="isAuthenticated() && !isActivation()">
        <a ui-sref="/" ng-click="toggleMobileMenu()" class="list-group-item">Home</a>
        <a ng-click="toggleMobileMenu()" ui-sref="profile" class="list-group-item">Profile</a>
        <a ng-click="toggleMobileMenu()" ui-sref="program" class="list-group-item">Pendaftaran</a>
        <a ng-if="user.role.role == 'Admin'" ui-sref="batch" class="list-group-item">Manage Batch</a>
      </div>
      <div class="list-group">
        <a ng-if="isAuthenticated()" ng-click="toggleMobileMenu()" ui-sref="logout" class="list-group-item">Logout</a>
      </div>
    </div>
  </pageslide>
</div>

<div class="ng-cloak" ui-view></div>

<!-- Third-party Libraries -->
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/angular-aria.js"></script>
<script src="vendor/angular-messages.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="vendor/angular-ui-router.js"></script>
<script src="vendor/angular-toastr.tpls.js"></script>
<script src="vendor/angular-pageslide-directive.js"></script>
<script src="vendor/file-upload/ng-file-upload-shim.min.js"></script>
<script src="vendor/file-upload/ng-file-upload.min.js"></script>
<script src="vendor/oi-select/select.min.js"></script>
<script src="vendor/oi-select/select-tpls.min.js"></script>
<script src="vendor/satellizer.js"></script>

<!-- Application Code -->
<script src="app.js"></script>
<script src="directives/passwordStrength.js"></script>
<script src="directives/passwordMatch.js"></script>
<script src="directives/pin.js"></script>
<script src="controllers/home.js"></script>
<script src="controllers/login.js"></script>
<script src="controllers/signup.js"></script>
<script src="controllers/activation.js"></script>
<script src="controllers/logout.js"></script>
<script src="controllers/profile.js"></script>
<script src="controllers/program.js"></script>
<script src="controllers/batch.js"></script>
<script src="controllers/navbar.js"></script>
<script src="services/account.js"></script>
<script src="services/common.js"></script>
<script src="services/batch.js"></script>

<script src="https://use.fontawesome.com/e2d16502eb.js"></script>

</body>
</html>
